name: Deploy to Firebase Hosting

on:
  push:
    branches: [main]

permissions:
  contents: read
  checks: write
  deployments: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # --- NEW STEP STARTS HERE ---
      - name: Create load-env.js file
        env:
          LOAD_ENV_FILE_CONTENT: ${{ secrets.LOAD_ENV_JS }}
        run: echo "$LOAD_ENV_FILE_CONTENT" > load-env.js
      # --- NEW STEP ENDS HERE ---

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          projectId: covey-to-do-minimal
          channelId: live
